@font-face {
    font-family:"lobster";
    src: url("/assets/font/Lobster-Regular.ttf");
}
body{
    background-color: #1A2059;
    color: #7A5800;
    font-family:"lobster",sans-serif;
    
}
div{
    display: flex;
    justify-content: center;
}
.fio{
    
}
button{
    background-color: #7A5800;
    color: #1A2059;
}
input{
    background-color: #7A5800;
    color: #1A2059;
}